name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run echo
        run: echo "CI pipeline is working"
- uses: actions/setup-java@v4
  with:
    distribution: temurin
    java-version: 17

- run: mvn clean test
